/* Basic styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Navbar styles */
  nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  /* Hero Header styles */
  header {
    background-color: #f2f2f2;
    padding: 50px;
    text-align: center;
  }
  
  .cta-btn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  /* Section styles */
  section {
    padding: 50px;
  }
  
  /* Course List styles */
  ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
  
  li {
    margin: 10px;
    max-width: 300px;
  }
  
  /* Footer styles */
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;

  }
h3 {
    text-decoration-color: aqua;
    color: #ff0000;



}